body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #2f2f2f, #a8a8a8);
    font-family: Arial, sans-serif;
    background-image:url('IMAGEM\ SITE.webp');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 1rem;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 1.5rem;
}

.textbox input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.textbox input:focus {
    border-color: #3498db;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
}

.textbox input:focus + label,
.textbox input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #3498db;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #3498db;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #2980b9;
}

#message {
    color: red;
    margin-top: 1rem;
}
a{
    color: green ;
}
header{
    text-align: end;
}





